.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.edit-button,
.delete-button {
  background-size: 25px;
  width: 25px;
  height: 25px;
  transition: all 1s ease;
  &:hover {
    scale: 1.06;
    opacity: 0.5;
  }
}

.edit-button {
  background-image: url("https://img.icons8.com/puffy/32/EBEBEB/create-new.png");
}

.delete-button {
  background-image: url("/images/icons8-мусор.svg");
}
