.todo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 440px;
  margin: 0 auto;
  .todo__title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 30px 40px;
    border: 1px solid var(--border);
    border-radius: 30px;
    h1 {
      font-size: 1.8rem;
    }
    .todo__counter {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fde9e9;
      font-size: 2rem;
      width: 120px;
      height: 120px;
      background-color: var(--accent-color);
      border-radius: 50%;
    }
  }
}

.todo-list {
  padding-top: 30px;
  width: 100%;
  /* max-height: 200px; */
  max-height: 200px;
  overflow: scroll;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  background-color: var(--input-color);
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--border);
}

.todo-item__checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--accent-color);
  &:checked {
    background-color: #56ca4b;
    border: 1px solid #56ca4b;
    & + .todo-item__label {
      text-decoration: line-through;
    }
  }
}

.todo-content {
  display: flex;
  gap: 10px;
  align-items: center;
}

.new-task-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 20px;
}
.add-button {
  height: 40px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--accent-color);
}
