body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: var(--text-color);
  background-color: var(--main-color);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

/* header */

.logo {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  span {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--accent-color);
    opacity: 0.7;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  background-color: #f0a550;
  color: aliceblue;
  border-radius: 10px;
  padding: 10px 15px;
  transition: color 0.5s ease;
  &:hover {
    color: #000000;
  }
  &:active {
    background-color: #f0a550;
  }
}
