body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--main-color);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

/* header */

.logo {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  span {
    font-size: 2rem;
    text-transform: uppercase;
  }
}

button {
  background-color: #f0a550;
  color: aliceblue;
  border-radius: 10px;
  padding: 10px 15px;
}
